.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    ul.nav.navbar-nav.nav-lang
      li.language-circle
        a.navcard(href="/#{ public._data.index.langchange[current.path[0]]+'/'+current.path[1] }") #{ public._data.index.languagecircle[current.path[0]] }
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
          
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class="#{ current.source == 'about' ? 'active' : '' }")
          a.navcard(href='#{ current.source == "about" ? current.path[0]+"/about" : "" }') #{ public._data.index.about[current.path[0]] }
        li(class="#{ current.source == 'projects' ? 'active' : '' }")
          a.navcard(href='#{ current.source == "projects" ? current.path[0]+"/projects" : "" }') #{ public._data.index.projects[current.path[0]] }
      ul.nav.navbar-nav.navbar-right
        li(class="#{ current.source == 'events' ? 'active' : '' }")
          a.navcard(href='#{ current.source == "events" ? current.path[0]+"/events" : "" }') #{ public._data.index.events[current.path[0]] }
        li(class="#{ current.source == 'news' ? 'active' : '' }")
          a.navcard(href='#{ current.source == "news" ? current.path[0]+"/news" : "" }') #{ public._data.index.news[current.path[0]] }

    //- if current.source != "index"
    //-   .navbar-brand
    //-     .logo-e(style="left:-40px;")
    //-       .inset
    //-         .logo-e3
    //-           a(href="/", alt="Bricobio")
    //- if current.source == "index"
    //-   .navbar-brand
    //-     .logo-e
    //-       //- TODO: Make responsive styles, surrounding content rules for this element so it fits on all pages @thomasingalls
    //-       //- TODO: Need to widgetize this stack of elements, so that they can be ported around nicely. @thomasingalls
    //-       .logo-e1()
    //-         a(href="/", alt="Bricobio")
    //-       .logo-e2()
    //-         //-
    //-         //- TODO: make pixel-perfect copy of images used as sprites for these animations
    //-         //- ?? is there a translation of pandoc into javascript or ruby?
    //-         .e2a
    //-           .e2b
    //-       .radial-progress(data-progress='0')
    //-         .circle
    //-           //-(style="z-index:1;")
    //-           .mask.full
    //-             .fill
    //-           .mask.half
    //-             .fill
    //-             .fill.fix
    //-         .inset
    //-           //-(style="z-index:3;")
    //-           .logo-e3
    //-             a(href="/", alt="Bricobio")
    //-       //- .logo-e4
    //-       //-   span.glyphicon.glyphicon-pushpin
    //-       //-   p Pin message
