.jumbotron
  .container
    h1 #{ title[current.path[0]] }
.container-fluid
  .row(style="padding:90px;background-color:#eeffff;")
    h3 #{ hi[current.path[0]] }
    p #{ p1[current.path[0]] }
    p #{ p2[current.path[0]] }
    p #{ p3[current.path[0]] }
    p #{ p4[current.path[0]] }
    p #{ cheers[current.path[0]] }
    p #{ Kevin[current.path[0]] }
  .row
    .container
      a(name="team")
      h2.text-center(style="color:#fff;margin: 60px;") Who we are
        .bio-element.col-md-3
      for person in public._data.organizers
          div
            div.cardhead
              img(src="#{ person.image }")
              div.cardtitles
                h3 #{ person.name }
            div.cardcontent
              p #{ person.bio[current.path[0]] }
              ul.list-inline
                for link in person.links
                  li
                    a(href="#{ link['url'] }", title="#{ link['title'] }") 
                      span(class="#{ 'fa fa-' + link['site'] }") 
