.jumbotron
  .container
    h1 About
  ul.nav.nav-pills
    li.active(role='presentation')
      a(href='#top') 
    li
      a(href='#mission') Mission
    li
      a(href='#team') Team
    li
      a(href='#getintouch') Get in touch
.container
  .row
    a(name="top")
  .row
    a(name="mission")
  .row
    a(name="team")
    for person in public[current.path[0]].about._data["organizers"]
      .bio-element.col-md-3
        div
          div.cardhead
            img(src="#{ person.image }")
            div.cardtitles
              h3 #{ person.name }
          div.cardcontent
            p #{ person.bio[current.path[0]] }
            ul.list-inline
              for link in person.links
                li
                  a(href="#{ link['url'] }", title="#{ link['title'] }") 
                    span(class="#{ 'fa fa-' + link['site'] }") 
  .row
    a(name="getintouch")
